body, html {
	height: 100%;
	margin: 0;
	padding: 0;
	overflow-y: hidden;
}
body {
	font-family: sans-serif;
}
h1{
   font-size: 30px;
   color: #000;
   text-transform: uppercase;
   font-weight: 300;
   text-align: center;
   margin-bottom: 15px;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body{
   /* background: -webkit-linear-gradient(left, #25c481, #25b7c4); */
   /* background: linear-gradient(to right, #25c481, #25b7c4); */
   font-family: 'Roboto', sans-serif;
}

a {
   color: #000;
   text-decoration: none;
}
a:hover {
   text-decoration: underline;
}

section {
	margin-left: 50px;
	margin-right: 50px;
}

thead th {
	text-align: center;
	/* background: none !important; */
}

th, thead th.first{
   padding: 20px 15px;
   text-align: left;
   font-weight: 500;
   font-size: 14px;
   color: #555;
   text-transform: uppercase;
   /* background: -webkit-linear-gradient(left, #25c481, #26C28E) !important; */
   /* background: linear-gradient(to right, #25c481, #26C28E) !important; */
   /* border-bottom: solid 1px rgba(255,255,255,0.1); */
   border: solid 1px rgba(0,0,0,0.1);
}
td{
   min-width: 200px;
   padding: 15px;
   text-align: left;
   vertical-align:middle;
   font-weight: 300;
   font-size: 12px;
   color: #555;
   border: solid 1px rgba(0,0,0,0.1);
}

th.first {
	text-align: right;
	min-width: 50px;
}

th.alpha, td.alpha {
	color: rgba(0, 0, 0, 0.2) !important;
	padding: 2px 15px;
}
th.alpha {
	/* background: -webkit-linear-gradient(left, #3FC990, #3FC899) !important; */
    /* background: linear-gradient(to right, #3FC990, #3FC899) !important; */
}


td.alpha{
	/* background: rgba(255, 255, 255, 0.1) !important; */
}

td.alpha:hover{
	color: rgba(0, 0, 0, 1) !important;
	background: none !important;
}

#parent {
	border: solid 1px rgba(0,0,0,0.1);
	height: calc(100vh - 150px);
	/* height: 800px; */
}

.fixTable {
	width: 800px !important;
}
